footer {
    margin: 1%;
    background-color: cadetblue;
    position: inherit;
    padding: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

#cardProducto {
    margin-bottom: 5%;
    padding-bottom: 1%;
}