footer {
    margin: 1%;
    background-color: cadetblue;
    /* position: absolute; */
    padding: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.nav-link:hover {
    /* color:  !important; */
    background-color: green !important;
}