@media (min-width: 150px) {
    h1 {
        font-size: 20px;
    }
    .textoHeader {
        font-size: 12px;
    }
    .formulario {
        margin-left: 5%;
        margin-right: 5%;
    }
    #tituloHeader {
        font-size: 15px;
    }
    #footerCopyright {
        font-size: 10px;
    }
}

@media (min-width: 300px) {
    h1 {
        font-size: 22px;
    }
    .textoHeader {
        font-size: 15px;
    }
    .formulario {
        margin-left: 5%;
        margin-right: 5%;
    }
    #tituloHeader {
        font-size: 20px;
    }
    #footerCopyright {
        font-size: 10px;
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 30px;
    }
    .textoHeader {
        font-size: 15px;
    }
    .formulario {
        margin-left: 15%;
        margin-right: 15%;
    }
    #tituloHeader {
        font-size: 25px;
    }
    #footerCopyright {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 35px;
    }
    .textoHeader {
        font-size: 17px;
    }
    .formulario {
        margin-left: 20%;
        margin-right: 20%;
    }
    #tituloHeader {
        font-size: 25px;
    }
    #footerCopyright {
        font-size: 15px;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 40px;
    }
    .textoHeader {
        font-size: 20px;
    }
    .formulario {
        margin-left: 25%;
        margin-right: 25%;
    }
    #tituloHeader {
        font-size: 25px;
    }
    #footerCopyright {
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 60px;
    }
    .textoHeader {
        font-size: 25px;
    }
    .formulario {
        margin-left: 30%;
        margin-right: 30%;
    }
    #tituloHeader {
        font-size: 25px;
    }
    #footerCopyright {
        font-size: 20px;
    }
}

.formulario {
    margin-top: 5%;
}

footer {
    margin: 1%;
    background-color: cadetblue;
    position: inherit;
    padding: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}